@font-face {
    font-family: 'QuicksandReg';
    src: url('../fonts/Quicksand-Regular.ttf') format('woff2')
}
@font-face {
    font-family: 'QuicksandBol';
    src: url('../fonts/Quicksand-Bold.ttf') format('woff2')
}