//Login|Register
$body-bg: url('../images/bg_log_and_sign.webp');
$form-bg: #f0f4f8;
$input-bg: #ffffff;
$btn-bg: #e63946;


// Main page
$header-bg: #ba86ed; // Колір фону для header
$text-color: #333; // Основний колір тексту
$accent-color: #5f37ef; // Колір для акцентів, наприклад для посилань
$card-bg: #fff; // Фон карточок
$border-color: #ddd; // Колір обрамлення карточок
$shadow-color: rgba(0, 0, 0, 0.1); // Колір тіні для карточок та header
$body-bg: url('../images/bg_log_and_sign.webp'); // Змінна для фонового зображення
$border-radius: 5px; // Радіус закруглення для карточок та елементів інтерфейсу
$font-primary: 'QuicksandReg', sans-serif; // Основний шрифт
$font-secondary: 'QuicksandBol', sans-serif; // Додатковий шрифт для важливих заголовків
$btn-bg: #5f37ef; // Фоновий колір кнопок
$btn-text-color: #fff; // Колір тексту кнопок
$footer-bg: #2c3e50; // Змініть на бажаний колір фону для футера
$footer-text-color: #ecf0f1; // Змініть на бажаний колір тексту для футера
 
//Screen Area
$screen-bg-color: #333;
$seat-bg-color: #888;
$seat-hover-bg-color: #555;
$vip-seat-bg-color: gold;
$vip-seat-hover-bg-color: darkgoldenrod;
$text-color: #fff;

//Setting Account
$background-color: #f0f4f8;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$image-border-color: #ffffff;
$input-border-color: #ccc;
$button-bg-color: #e63946;
$button-bg-hover-color: #003d82;
$text-color: #000;