@import "variables";
@import "fonts";

body {
    font-family: "QuicksandReg";
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

* {
    font-family: "QuicksandBol";
}

header {
    background: $header-bg;
    padding: 10px;
    box-shadow: 0 2px 4px $shadow-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Стилі для меню
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex: 1;

        li {
            margin: 0 20px;
            a {
                text-decoration: none;
                color: $text-color;
                font-family: "QuicksandBol";
                &:hover {
                    color: $accent-color;
                }
            }

            &.active a {
                color: $accent-color;
            }
        }
    }

    // Контейнер для пошукової панелі та вибору локації
    .search-and-location {
        display: flex;
        align-items: center;

        // Стилі для пошукової панелі
        .search-container {
            input {
                padding: 5px;
                margin-right: 5px;
                border: none;
                border-radius: 4px;
            }

            button {
                padding: 5px 10px;
                cursor: pointer;
                border: none;
                border-radius: 4px;
                background-color: $btn-bg;
                color: #fff;

                &:hover {
                    background-color: darken($btn-bg, 10%);
                }
            }
        }

        // Стилі для вибору локації
        .location-selector {
            margin-left: 20px;
            background: #333;
            border-radius: 20px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            font-size: 0.9em;
            cursor: pointer;

            span {
                margin-right: 5px;
            }

            .location-dropdown-toggle {
                background: transparent;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;

                img {
                    width: 12px; // or your preferred size
                    height: auto;
                }
            }
        }
    }
}

.cards-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    .card {
        background: $card-bg;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        width: calc(33.333% - 20px);
        margin: 10px;
        box-shadow: 0 2px 4px $shadow-color;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        .card-body {
            padding: 10px;
            display: flex; // встановлюємо flexbox для .card-body
            flex-direction: column; // елементи будуть слідувати у вертикальному напрямку
            justify-content: space-between; // розподіл місця між елементами в колонці

            h3 {
                font-size: 1.2em;
                margin: 0 0 10px 0;
            }

            .description {
                margin: 0 0 10px 0; // Додає відступ знизу для опису
            }

            .rating {
                font-weight: bold;
                margin: 0 0 10px 0; // Додає відступ знизу для рейтингу
            }

            .price-container {
                display: flex;
                flex-direction: column; // Розташовує ціни одна під одною

                .price,
                .vip-price {
                    font-weight: bold;
                }

                .vip-price {
                    color: $accent-color; // Підкреслює VIP-ціну за допомогою акцентного кольору
                }
            }
            .booking-button {
                display: inline-block;
                padding: 10px 15px;
                background-color: $btn-bg; // Використовується змінна з вашого файлу _variables.scss
                color: #fff;
                text-align: center;
                border-radius: $border-radius; // Використовується змінна з вашого файлу _variables.scss
                text-decoration: none;
                margin-top: 10px;
                font-weight: bold;
                transition: background-color 0.3s ease;
                align-self: flex-end; // вирівнювання кнопки по правому краю .card-body
                margin-top: auto;

                &:hover {
                    background-color: darken($btn-bg, 10%);
                }
            }
        }

        &:hover {
            box-shadow: 0 4px 8px $shadow-color;
        }
    }
}
footer {
    background: $footer-bg;
    color: $footer-text-color;
    text-align: center;
    padding: 20px;
    margin-top: auto;

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            margin: 5px 0;
            &:first-child {
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cards-container {
        .card {
            width: 100%; // Одна карточка на рядок для планшетів
            max-width: 500px; // Встановлюємо максимальну ширину
            margin: 10px auto; // Центруємо карточки
        }
    }

    header {
        .menu li {
            margin: 0 10px;
            a {
                font-size: 0.8em; // Зменшуємо розмір шрифта для посилань
            }
        }

        .search-container {
            input,
            button {
                padding: 8px 10px; // Зменшуємо padding для input і button
                font-size: 0.8em; // Зменшуємо розмір шрифта
            }
        }

        .location-selector {
            span {
                font-size: 0.8em; // Зменшуємо розмір шрифта
            }
        }

        .cards-container .card {
            width: 100%; // Карточки на весь екран
            max-width: 500px; // Обмежуємо максимальну ширину
        }
    }
}

// Адаптація для мобільних пристроїв
@media (max-width: 767px) {
    header {
      flex-direction: column; // Переключаємо header на вертикальне вирівнювання
  
      .menu {

        align-items: center; // Вирівнювання по центру
  
        li {
          width: 100%; // Елементи меню на всю ширину
          margin: 5px 0; // Додаємо верхній/нижній відступи
  
          a {
            font-size: 0.9em; // Зменшуємо розмір шрифта
          }
        }
      }
  
      .search-container {
        width: 100%; // Пошук на всю ширину
        margin-top: 10px; // Відступ зверху
  
        input,
        button {
          width: 100%; // Елементи на всю ширину
          margin-top: 5px; // Відступи зверху для елементів
        }
      }
  
      .location-selector {
        justify-content: space-between; // Вирівнювання елементів
        width: 100%; // На всю ширину
        margin-top: 10px; // Відступ зверху
  
        .location-dropdown-toggle {
          margin-left: auto; // Вирівнювання по правому краю
        }
      }
    }
  
    .cards-container .card {
      width: 100%; // Карточки на весь екран
      margin: 10px 0; // Відступи зверху та знизу
    }
  }
